[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.1.2"
requests = "==2.24.0"
pillow = "<=7.2.0"
django = "==2.0"

[dev-packages]
pytest = "==6.1.0"

[requires]
python_version = "3.7"
